<!--
@Author: timaanonsen
@Date:   12-28-2017 08:12::71
@Filename: _form.html.erb
@Last modified by:   timaanonsen
@Last modified time: 12-28-2017 08:12::71
-->



<%= form_with(model: [ @article, @article.comments.build ]) do |form| %>
  <p>
    <%= form.label :commenter %><br>
    <%= form.text_field :commenter %>
  </p>
  <p>
    <%= form.label :body %><br>
    <%= form.text_area :body %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>
